$background-color-dice: #063970;
$button-background-color: #873e23;
$button-radius: 25px;
$text-color: #fff;
$font-weight-regular: 400;
$font-weight-bold: bold;

// Mixin for flex centering
@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

// Main dice section styling
.diceSection {
  @include flex-center;
  width: 80%;
  padding: 2rem;
  background-color: $background-color-dice;
  border-radius: 15px;
  gap: 2rem;
  box-sizing: border-box; // Ensure padding is included in the element's dimensions
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Add shadow for depth

  // Nested styling for the project discovery title
  .discoverMyProjects {
    margin: 0;
    font-size: 2.5rem;
    font-weight: $font-weight-bold;
    color: $text-color;
    text-align: center;
  }

  // Styling for the wrapper that contains the dice image and button
  .diceWrapper {
    @include flex-center;
    gap: 2rem;
    animation: bounce 2s infinite; // Add bounce animation to the entire wrapper

    // Specific styles for the dice container
    .dice {
      width: 150px;
      height: 150px;
      background: #fff;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Add shadow to the dice
      transform: rotateY(0deg);
      animation: rotateDice 4s infinite; // Add rotation animation
    }

    // Specific styles for the python logo icon
    .pythonLogoIcon {
      width: 100px; // Specific width for the image
      height: 100px; // Specific height for the image
    }

    // Styles for the 'Roll the Die' button
    .rollDiceButton {
      padding: 1rem 2rem;
      background-color: $button-background-color;
      border-radius: $button-radius;
      color: $text-color;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
      text-transform: uppercase; // Added for stylistic choice
      border: none; // Remove default button border
      outline: none; // Remove default button outline
      transition: background-color 0.3s ease, transform 0.3s ease; // Smooth transition for hover effects

      &:hover {
        background-color: darken($button-background-color, 10%);
        transform: scale(1.05); // Slightly enlarge button on hover
      }

      &:active {
        transform: scale(0.95); // Slightly shrink button on click
      }
    }
  }
}

// Add bounce animation
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// Add rotation animation for the dice
@keyframes rotateDice {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
