// .ContactSection {
//     width: 100%;
//     max-width: 600px;
//     margin: 0 auto;
//     padding: 20px;
    
//     h2 {
//         color: #333;
//         font-size: 24px;
//         margin-bottom: 10px;
//     }

//     p {
//         color: #666;
//         font-size: 18px;
//         margin-bottom: 20px;
//     }

//     .form-group {
//         margin-bottom: 20px;

//         label {
//             display: block;
//             margin-bottom: 5px;
//             color: #333;
//             font-size: 1rem;
//         }

//         input,
//         textarea {
//             width: 100%;
//             max-width: 100%;
//             padding: 10px;
//             border-radius: 5px;
//             border: 1px solid #ccc;
//             font-size: 1rem;

//             @media (max-width: 930px){
//                 width: 90%;
//             }
//         }

//         // textarea {
//         //     resize: vertical;
//         // }
//     }

//     button {
//         display: inline-block;
//         padding: 10px 20px;
//         color: #fff;
//         background-color: #007bff;
//         border-radius: 5px;
//         border: none;
//         font-size: 16px;
//         cursor: pointer;

//         &:hover {
//             background-color: #0056b3;
//         }
//     }
// }


.contact-section {
    margin-bottom: 20px;
    width: min(100%, 38rem);
    text-align: center;
    @media screen and (min-width: 640px) {
        margin-bottom: 28px;
    }
}

.contact-description {
    color: #4a5568; // Equivalent to text-gray-700
    margin-top: -1.5rem; // Equivalent to -mt-6
    .dark & {
        color: rgba(255, 255, 255, 0.8);
    }
}

.contact-link {
    text-decoration: underline;
}

.contact-form {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    .dark & {
        color: black;
    }
}

.contact-input,
.contact-textarea {
    height: 3.5rem; // Equivalent to h-14 for input
    padding: 1rem; // Equivalent to px-4 for input and p-4 for textarea
    border-radius: 0.75rem; // Equivalent to rounded-lg
    transition: all;
    .dark & {
        background-color: white;
        background-opacity: 0.8;
        &:focus {
        background-opacity: 1;
        }
        outline: none;
    }
}

.contact-textarea {
    height: 13rem; // Equivalent to h-52
    margin-top: 0.75rem; // Equivalent to my-3
}
