.my-container{
    text-align: center;
    padding: 2.5rem;
}    

.my-heading-1{
    font-size: 2.5rem;
    color: burlywood;
    font-weight: 500;

}

.my-heading-2{
    font-size: 1.5rem;
    color: white;

}

.my-paragraph{
    font-size: 1rem;
    padding: 1.25rem 0;
    line-height: 2rem;
    color: white;

    
}

.my-image-wrapper, .my-image-container{
    text-align: center;
    padding: 2.5rem 0;
}

.my-image-container{
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to bottom teal, black);
    border-radius: 9999px;
    margin: 0 auto;
    padding: 10rem;

}
