// main.scss

// Styles for the entire page
body {
    margin: 0;
    padding: 0;
    overflow: hidden; // Prevent scroll bars on the body
}

main {
    display: flex;
    height: 100vh;
    transition: margin-left 0.3s ease;
}

// Styles for the sidebar
.fixed-child {
    background-color: #333; // Consolidated background-color
    width: 250px;
    height: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    overflow-y: auto;
    transition: right 0.3s ease; // Updated transition property

    &.sidebar-open {
        right: -250px; // Removed unnecessary comment
    }

    .toggle-button {
        background-color: #444;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
}

// Styles for the scrollable content area
.scrollable-child {
    background-color: darkblue;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    margin-right: 250px;
    transition: margin-right 0.3s ease;

    .toggle-button {
        position: fixed;
        right: 20px;
        top: 20px;
    }

    &.sidebar-open {
        margin-right: 0; // Removed unnecessary comment
    }
}

@media (max-width: 435px) {
    .fixed-child {
        width: 100%;
        height: auto;
        top: 0;
        right: auto;
        left: 0;

        &.sidebar-open {
            top: -100%;
        }
    }

    .scrollable-child {
        margin-top: 130px;
        margin-right: 0;
        transition: margin-top 0.3s ease;

        &.sidebar-open {
            margin: 0;
        }
    }
}
