// main.scss

// Styles for the entire page
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll bars on the body */
}

main {
    display: flex;
    height: 100vh;

    transition: margin-left 0.3s ease; 

    
}

// Styles for the sidebar
.fixed-child {
    background-color: grey;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    // left: -250px; /* Start hidden */
    left: auto;
    right: 0px;
    overflow-y: auto; /* Enable scrolling if the content overflows */
    transition: left 0.3s ease;

    &.sidebar-open {
        // left: 0; /* Slide in when open */
        right: -250px;
    }

    .toggle-button {
        background-color: #444;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

}

// Styles for the scrollable content area
.scrollable-child {
    background-color: darkblue;
    flex-grow: 1;
    overflow-y: auto; /* Enable scrolling if the content overflows */
    padding: 20px;
    // transition: margin-left 0.3s ease; /* Transition to move content when sidebar opens */
    margin-right: 250px;
    transition: margin-right 0.3s ease;

    .toggle-button {
        background-color: #444;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;

        position: fixed;
        right: 20px;
        top: 20px;
    }

    &.sidebar-open {
        // margin-left: 250px; /* Shift content when sidebar is open */
        margin-right: 0;
    }


}

@media (max-width: 435px) {
    .fixed-child {
        width: 100%;     // Take the full width of the screen
        height: auto;    // Adjust height as needed
        top: 0;
        right: auto;     // Reset right positioning
        left: 0;         // Align to the left
        // Adjust other properties as needed
        &.sidebar-open {
            // left: 0; /* Slide in when open */
            top: -100%;
        }
    }

    .scrollable-child {
        margin-right: 0; // Reset margin
        margin-top: 250px; // Adjust according to the height of fixed-child
        // You might need to adjust the top margin to make space for the fixed child
        transition: margin-top 0.3s ease;

        &.sidebar-open{
            margin: 0;
        }
    }
}