.service-container {
  gap: 1rem;
  justify-content: center;
  display: flex;

  @media (max-width: 794px) {
    width: 100%;
    margin: 1rem 0;
    display: block;

    .image-container {
      display: block;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        height: 80px;
      }
    }
  }

  .service-item {
    flex: 1;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: white;
    transition: background-color 0.3s ease;

    &.dark {
      background-color: #2d3748;
    }

    &:hover {
      background-color: #f7fafc;
    }

    .service-content {
      padding: 1rem;

      .image-container {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .title {
        font-size: 1.25rem;
        font-weight: 500;
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
      }

      .description {
        font-size: 1rem;
        padding-top: 0.5rem;
      }

      .subtitle {
        font-size: 1.125rem;
        color: #319795;
        padding-top: 1rem;
      }

      .tool-list {
        list-style: none;
        color: #4a5568;
        padding-top: 0.5rem;

        li {
          padding-left: 1rem;
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}

.services-heading,
.portfolio-heading {
  font-size: 1.875rem;
  padding-top: 0.25rem;
  color: black;

  &.dark {
    color: white;
  }
}

.services-paragraph {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  line-height: 1.5;
  color: #333;

  &.dark {
    color: white;
  }
}

