.sidebar{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.image{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    padding: 20px;

    li{
        width: 75px;
        display: flex;
        justify-content: center;

        .image-container{
            display: flex;
            cursor: pointer;
            
            img{
                max-width: 100%;
                height: auto;
            }
            .button-name{
                opacity: 0;
                transition: opacity 0.3s;
                padding: 5px;
                font-size: 12px;
            }

            &:hover{
                .button-name{
                    opacity: 1;
                }

                img{
                    transition: opacity 0.3s;
                }
            }
        }
    }
}

.nav-link:hover{
    span{
        display: inline-block;
    }

    img{
        display: none;
    }
}

.nav-link{
    span{
        display: none;
    }
}
