.main {
  background-color: #333;
  padding: 1.25rem;
  display: flex;
  &.dark {
    background-color: #1a202c;
  }
}

.section-1 {
  min-height: 100vh;
}

.section-2 {
  padding-top: 2.5rem;
}

.fixed-child {
  position: fixed;
  top: 0;
  right: 0; /* Change 'left' to 'right' */
  padding: 20px;
  z-index: 100;
  width: 100px;
  height: 100vh;
  background-color: #333;
  color: #1a202c;
}

.scrollable-child {
  margin-right: 100px; /* Change 'margin-left' to 'margin-right' */
  flex: 1;
  padding: 20px;
}

body{
  background-color: #1a202c;
}