@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root[class~="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Remove Dark Reader styles */
[data-darkreader-mode],
[data-darkreader-scheme] {
  background: unset !important;
  color: unset !important;
}

[data-darkreader-inline-bgcolor],
[data-darkreader-inline-color],
[data-darkreader-inline-border],
[data-darkreader-inline-stroke] {
  all: unset !important;
}