$font-family: 'Inter', sans-serif;
$background-color: #0c1222;
$button-background: #5d6aab;
$white: #fff;
$sidebar-width: 10rem;
$sidebar-background: #5d6aab;
$button-hover-background: #6b7db3;
$resume-button-background: #435069;

.home {
  scroll-behavior: smooth;
  display: flex;
  font-family: $font-family;
  color: $white;
  background-color: $background-color;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto; // Enable vertical scrolling
  overflow-x: hidden; // Disable horizontal scrolling
  transition: transform 0.3s; // Add transition for smooth animation
  
  &.sidebarOpen {
    transform: translateX($sidebar-width); // Adjust based on sidebar width
  }
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.closeButtonParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  .closeButton {
    width: 5.313rem;
    border-radius: 10px;
    background-color: $button-background;
    padding: 1.375rem 0.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.josuJernimoParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;

  .josuJernimo {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
  }

  .softwareEngineer {
    font-size: 1.5rem;
  }
}

.socialButtons {
  display: flex;
  gap: 0.937rem;
  justify-content: center;

  .socialIcon {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1); // Change icon color to white
  }
}

@media screen and (max-width: 1050px) {
  .josuJernimo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .josuJernimo {
    font-size: 1.5rem;
  }

  .softwareEngineer {
    font-size: 1.188rem;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width; // Adjust width as needed to match the design
  background-color: $sidebar-background;
  padding: 2rem 1rem; // Adjust padding as needed
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: fixed; // Make sidebar fixed
  top: 0; // Stick to the top
  height: 100vh; // Make sure sidebar takes full height of the viewport
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1000;

  &.closed {
    transform: translateX(-100%);
  }

  .toggleButton {
    background-color: $button-background; // Different background for contrast
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-background;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem; // Adjust gap for visual spacing between buttons
  }

  .buttonWrapper {
    background-color: $button-background; // Different background for contrast
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-background;
    }
  }

  .resumeButtonWrapper {
    margin-top: 2rem; // Space above the resume button
    background-color: $resume-button-background;
    &:hover {
      background-color: $sidebar-background;
    }
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
  }
}
