/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/main.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.main {
  background-color: #333;
  padding: 1.25rem;
  display: flex;
}
.main.dark {
  background-color: #1a202c;
}

.fixed-child {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 100;
  width: 100px;
  height: 100vh;
  background-color: #333;
  color: #1a202c;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.fixed-child.hiding-sidebar {
  transform: translateX(100px);
}

.scrollable-child {
  flex: 1;
  padding: 20px;
  transition: margin-right 0.3s ease-in-out;
  margin-right: 100px;
}
.scrollable-child.expanded {
  margin-right: 0px;
}

body {
  background-color: #1a202c;
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/_header.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sidebar {
  padding: 2.5rem 0 3rem; /* py-10 mb-12 */
  color: black; /* dark:text-white */
}
.sidebar.dark {
  color: white;
}
.sidebar .logo {
  font-family: "burtons";
  font-size: 1.5rem; /* text-xl */
}
.sidebar .nav-link {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  position: relative;
  z-index: 1;
}
.sidebar .nav-link:hover {
  transform: translateX(-5px);
  color: yellow;
}
.sidebar .button-name {
  position: absolute;
  top: 50%;
  left: -40px;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  white-space: nowrap;
  pointer-events: none;
}
.sidebar .nav-link:hover .button-name {
  opacity: 1;
  transform: translateY(-50%) translateX(-10px);
}
.sidebar ul {
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidebar ul li {
  margin-bottom: 4rem; /* Add margin between images */
}
.sidebar ul li:last-child {
  margin-bottom: 0; /* Remove margin for the last li */
}
.sidebar ul li .dark-mode-icon {
  cursor: pointer;
  font-size: 2rem; /* text-2xl */
}
.sidebar ul li .resume-link {
  background: linear-gradient(to right, cyan, teal);
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 0.75rem;
}
.sidebar ul li .resume-link:hover {
  background-color: teal;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/_hero-section.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.my-container {
  text-align: center;
  padding: 2.5rem;
}
.my-container.dark {
  color: #fff;
}
.my-container.dark .my-heading-2, .my-container.dark .my-paragraph {
  color: #fff;
}
.my-container.dark .my-social-icons {
  color: #718096;
}

.my-heading-1 {
  font-size: 2.5rem;
  color: #38b2ac;
  font-weight: 500;
}
@media (min-width: 768px) {
  .my-heading-1 {
    font-size: 4rem;
  }
}

.my-heading-2 {
  font-size: 1.5rem;
  color: #2d3748;
}
@media (min-width: 768px) {
  .my-heading-2 {
    font-size: 2rem;
  }
}

.my-paragraph {
  font-size: 1rem;
  padding: 1.25rem 0;
  line-height: 2rem;
  color: #2d3748;
}
@media (min-width: 768px) {
  .my-paragraph {
    font-size: 1.5rem;
  }
}

.my-social-icons {
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-size: 2.5rem;
  color: #718096;
  padding: 2.5rem 0;
}
@media (min-width: 768px) {
  .my-social-icons {
    font-size: 3.5rem;
  }
}

.my-image-wrapper, .my-image-container {
  text-align: center;
  padding: 2.5rem 0;
}

.my-image-container {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom, #38b2ac, #2d3748);
  border-radius: 9999px;
  margin: 0 auto;
  padding: 10rem;
}
@media (max-width: 767px) {
  .my-image-container {
    width: 20rem;
    height: 20rem;
  }
}
@media (min-width: 768px) {
  .my-image-container {
    width: 24rem;
    height: 24rem;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/__die.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.die-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
}
.die-body .game {
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: 100%;
}
.die-body .die-container {
  position: relative;
  display: inline-block;
  top: 300px;
  margin: 0 auto;
}
.die-body .dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.die-body .dice .side {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}
.die-body .dice .side:nth-child(1) {
  transform: translateZ(3.1em);
}
.die-body .dice .side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em);
}
.die-body .dice .side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em);
}
.die-body .dice .side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em);
}
.die-body .dice .side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em);
}
.die-body .dice .side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em);
}
.die-body .dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}
.die-body .show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}
.die-body .show-6 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}
.die-body .show-3 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}
.die-body .show-4 {
  transform: rotateY(810deg) rotateZ(720deg);
}
.die-body .show-5 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}
.die-body .show-2 {
  transform: rotateX(450deg) rotateZ(-720deg);
}
.die-body .two-1,
.die-body .three-1,
.die-body .four-1,
.die-body .five-1,
.die-body .six-1 {
  top: 20%;
  left: 20%;
}
.die-body .four-3,
.die-body .five-3,
.die-body .six-4 {
  top: 20%;
  left: 80%;
}
.die-body .one-1,
.die-body .three-2,
.die-body .five-5 {
  top: 50%;
  left: 50%;
}
.die-body .four-2,
.die-body .five-2,
.die-body .six-3 {
  top: 80%;
  left: 20%;
}
.die-body .two-2,
.die-body .three-3,
.die-body .four-4,
.die-body .five-4,
.die-body .six-6 {
  top: 80%;
  left: 80%;
}
.die-body .six-2 {
  top: 50%;
  left: 20%;
}
.die-body .six-5 {
  top: 50%;
  left: 80%;
}

.die-button {
  position: relative;
  top: 80px;
  padding: 15px 50px;
  color: #fff;
  background-color: orange;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 1px 3px black;
  outline: none;
  transition: 0.3s;
}
.die-button:hover, .die-button:active {
  outline: none;
  background-color: orange;
  cursor: pointer;
  transform: translateY(15px);
}

.selected-skill {
  text-align: center;
  margin-top: 250px;
}
.selected-skill h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.selected-skill h3 {
  font-size: 20px;
  margin-top: 10px;
}
.selected-skill ul {
  list-style: none;
  padding: 0;
}
.selected-skill li {
  font-size: 16px;
  margin: 5px 0;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/_service.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.service-container {
  gap: 1rem;
  justify-content: center;
  display: flex;
}
@media (max-width: 794px) {
  .service-container {
    width: 100%;
    margin: 1rem 0;
    display: block;
  }
  .service-container .image-container {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .service-container .image-container img {
    width: 80px;
    height: 80px;
  }
}
.service-container .service-item {
  flex: 1;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: white;
  transition: background-color 0.3s ease;
}
.service-container .service-item.dark {
  background-color: #2d3748;
}
.service-container .service-item:hover {
  background-color: #f7fafc;
}
.service-container .service-item .service-content {
  padding: 1rem;
}
.service-container .service-item .service-content .image-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-container .service-item .service-content .image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-container .service-item .service-content .title {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}
.service-container .service-item .service-content .description {
  font-size: 1rem;
  padding-top: 0.5rem;
}
.service-container .service-item .service-content .subtitle {
  font-size: 1.125rem;
  color: #319795;
  padding-top: 1rem;
}
.service-container .service-item .service-content .tool-list {
  list-style: none;
  color: #4a5568;
  padding-top: 0.5rem;
}
.service-container .service-item .service-content .tool-list li {
  padding-left: 1rem;
  margin-bottom: 0.25rem;
}

.services-heading,
.portfolio-heading {
  font-size: 1.875rem;
  padding-top: 0.25rem;
  color: black;
}
.services-heading.dark,
.portfolio-heading.dark {
  color: white;
}

.services-paragraph {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  line-height: 1.5;
  color: #333;
}
.services-paragraph.dark {
  color: white;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/_portfolio.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.portfolio-image-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2.5rem;
}
@media (min-width: 1024px) {
  .portfolio-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
}
.portfolio-image-container .image-item {
  flex-basis: 33.3333333333%;
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.portfolio-image-container .image-item .rounded-lg {
  border-radius: 0.5rem;
}
.portfolio-image-container .image-item .object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-image-container .image-item::before {
  content: "";
  display: block;
}
