/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/styles/_main.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll bars on the body */
}

main {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s ease;
}
@media (max-width: 768px) {
  main {
    display: block;
  }
}

.fixed-child {
  background-color: grey;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: -250px; /* Start hidden */
  overflow-y: auto; /* Enable scrolling if the content overflows */
  transition: left 0.3s ease;
}
.fixed-child.sidebar-open {
  left: 0; /* Slide in when open */
}
.fixed-child .toggle-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .fixed-child {
    width: 100%; /* Expand to full width */
    left: 0; /* Always visible on smaller screens */
    transition: none; /* No transition on smaller screens */
  }
}

.scrollable-child {
  background-color: darkblue;
  flex-grow: 1;
  overflow-y: auto; /* Enable scrolling if the content overflows */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Transition to move content when sidebar opens */
}
.scrollable-child.sidebar-open {
  margin-left: 250px; /* Shift content when sidebar is open */
}
@media (max-width: 768px) {
  .scrollable-child {
    margin-left: 0; /* No shift on smaller screens */
    transition: none; /* No transition on smaller screens */
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/styles/_HomeSection.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HomeSection {
  text-align: center;
  padding: 2.5rem;
}

.my-heading-1 {
  font-size: 2.5rem;
  color: burlywood;
  font-weight: 500;
}

.my-heading-2 {
  font-size: 1.5rem;
  color: white;
}

.my-paragraph {
  font-size: 1rem;
  padding: 1.25rem 0;
  line-height: 2rem;
  color: white;
}

.my-image-wrapper, .my-image-container {
  text-align: center;
  padding: 2.5rem 0;
}

.my-image-container {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom teal, black);
  border-radius: 9999px;
  margin: 0 auto;
  padding: 10rem;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/styles/_about.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.service-container {
  gap: 1rem;
  justify-content: center;
  display: flex;
}

.service-item {
  flex: 1 1;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: white;
  transition: background-color 0.3s ease;
}
.service-item .service-content {
  padding: 1rem;
}
.service-item .service-content .image-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-item .service-content .image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.service-item .service-content .title {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}
.service-item .service-content .description {
  font-size: 1rem;
  padding-top: 0.5rem;
}
.service-item .service-content .subtitle {
  font-size: 1.125rem;
  color: teal;
  padding-top: 1rem;
}
.service-item .service-content .tool-list {
  list-style: none;
  color: grey;
  padding-top: 0.5rem;
}
.service-item .service-content .tool-list li {
  padding-left: 1rem;
  margin-bottom: 0.25rem;
}

.services-heading, .portfolio-heading {
  font-size: 1.875rem;
  padding-top: 0.25rem;
  color: white;
}

.services-paragraph {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  line-height: 1.5;
  color: grey;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/styles/_blog.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.portfolio-image-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2.5rem;
}
.portfolio-image-container .image-item {
  flex-basis: 33.3333333333%;
  flex: 1 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.portfolio-image-container .image-item .rounded-lg {
  border-radius: 0.5rem;
}
.portfolio-image-container .image-item .object-cover {
  object-fit: cover;
}
.portfolio-image-container .image-item::before {
  content: "";
  display: block;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/styles/_contact.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ContactSection {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.ContactSection h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
.ContactSection p {
  color: #666;
  font-size: 18px;
  margin-bottom: 20px;
}
.ContactSection .form-group {
  margin-bottom: 20px;
}
.ContactSection .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 16px;
}
.ContactSection .form-group input,
.ContactSection .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.ContactSection .form-group textarea {
  resize: vertical;
}
.ContactSection button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.ContactSection button:hover {
  background-color: #0056b3;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/styles/_dice.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.die-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
}
.die-body .game {
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: 100%;
}
.die-body .die-container {
  position: relative;
  display: inline-block;
  top: 300px;
  margin: 0 auto;
}
.die-body .dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.die-body .dice .side {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}
.die-body .dice .side:nth-child(1) {
  transform: translateZ(3.1em);
}
.die-body .dice .side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em);
}
.die-body .dice .side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em);
}
.die-body .dice .side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em);
}
.die-body .dice .side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em);
}
.die-body .dice .side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em);
}
.die-body .dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}
.die-body .show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}
.die-body .show-6 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}
.die-body .show-3 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}
.die-body .show-4 {
  transform: rotateY(810deg) rotateZ(720deg);
}
.die-body .show-5 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}
.die-body .show-2 {
  transform: rotateX(450deg) rotateZ(-720deg);
}
.die-body .two-1,
.die-body .three-1,
.die-body .four-1,
.die-body .five-1,
.die-body .six-1 {
  top: 20%;
  left: 20%;
}
.die-body .four-3,
.die-body .five-3,
.die-body .six-4 {
  top: 20%;
  left: 80%;
}
.die-body .one-1,
.die-body .three-2,
.die-body .five-5 {
  top: 50%;
  left: 50%;
}
.die-body .four-2,
.die-body .five-2,
.die-body .six-3 {
  top: 80%;
  left: 20%;
}
.die-body .two-2,
.die-body .three-3,
.die-body .four-4,
.die-body .five-4,
.die-body .six-6 {
  top: 80%;
  left: 80%;
}
.die-body .six-2 {
  top: 50%;
  left: 20%;
}
.die-body .six-5 {
  top: 50%;
  left: 80%;
}

.die-button {
  position: relative;
  top: 80px;
  padding: 15px 50px;
  color: #fff;
  background-color: orange;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 1px 3px black;
  outline: none;
  transition: 0.3s;
}
.die-button:hover, .die-button:active {
  outline: none;
  background-color: orange;
  cursor: pointer;
  transform: translateY(15px);
}

.selected-skill {
  text-align: center;
  margin-top: 250px;
}
.selected-skill h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.selected-skill h3 {
  font-size: 20px;
  margin-top: 10px;
}
.selected-skill ul {
  list-style: none;
  padding: 0;
}
.selected-skill li {
  font-size: 16px;
  margin: 5px 0;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/styles/_sidebar.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sidebar {
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  transition: all 0.3s ease-in-out;
}

.image {
  justify-content: center; /* Center items horizontally */
  align-items: center;
  padding: 20px;
}
.image li {
  width: 75px;
  display: flex;
  justify-content: center;
  display: flex;
}
.image li .image-container {
  display: flex;
  cursor: pointer;
}
.image li .image-container img {
  max-width: 100%;
  height: auto;
}
.image li .image-container .button-name {
  opacity: 0;
  transition: opacity 0.3s;
  padding: 5px;
  font-size: 12px;
}
.image li .image-container:hover .button-name {
  opacity: 1;
}
.image li .image-container:hover img {
  transition: opacity 0.3s;
}

.nav-link:hover span {
  display: inline-block;
}
.nav-link:hover img {
  display: none;
}

.nav-link span {
  display: none;
}
